<button class="button small white" {{action 'install' app}}>
	{{#if isInstalled}}
		Uninstall
	{{else}}
		{{app.installText}}
	{{/if}}
</button>

{{#if isInstalled}}
	{{#link-to 'dashboard.apps.app' app class="button small white"}}
		Open
	{{/link-to}}
{{/if}}