$topbar_height: 57px;
$sidebar_width: 300px;
$bottom_height: 59px;

$lightest_gray: #f2f2f2;
$lighter_gray: #dddddd;
$maroon: #8e2825;

$green: #4F8F5C;
$blue: #2D6C97;
$dark_blue: #204C6A;
$gray: #B9BABD;
$dark_gray: #868687;

@import 'vendor/reset';

@import 'general';
@import 'buttons';
@import 'tables';
@import 'modal';
@import 'tabs';

@import 'dashboard/general';
@import 'dashboard/topbar';

@import 'dashboard/account/billing';
@import 'dashboard/account/purchases';

@import 'dashboard/people/general';

@import 'dashboard/activity/general';

@import 'dashboard/apps/apps';
@import 'dashboard/apps/store/general';
@import 'dashboard/apps/store/app';
@import 'dashboard/apps/cta_editor';