.remetric {
	.button {
        float: none;
		padding: 12px 20px;
		background: $lightest_gray;
		color: #777;
		text-decoration: none;
		cursor: pointer;
		border-radius: 4px;
		border: 1px solid $lighter_gray;
		font-size: 16px;
		line-height: 16px;
		text-align: center;
		display: inline-block;
		
		&.small {
			font-size: 13px;
			line-height: 13px;
			padding: 5px 8px;
		}
		
		&.white {
			background: #fff;
		}
		
		&.clickable {
			background: $green;
			border-color: $green;
			color: #fff;
		}
	}
	
	input[type="text"], input[type="email"], input[type="password"], input[type="search"], textarea, select {
		border-radius: 4px;
		border: 1px solid $lighter_gray;
		padding: 10px;
		font-size: 16px;
		line-height: 16px;
	}
	
	textarea {
		line-height: 22px;
	}
}