.remetric {
	font-family: Helvetica Neue, Helvetica, Arial, Sans Serif;
	background: #fff;
	
	.clear {
		clear: both;
		float: none;
		display: block;
	}
	
	img {
		max-width: 100%;
	}
	
	hr {
		height: 1px;
		background: $lightest_gray;
		border: 0 none;
	}
	
	pre {
		font-family: monaco, Consolas, "Lucida Console", monospace;
		background: $lightest_gray;
		color: #444;
		font-size: 12px;
		line-height: 17px;
		padding: 15px;
		overflow: auto;
	}
	
	* {
		outline: none;
	}
	
	.remetric_help {
		background: #ccc;
		font-size: 10px;
		color: #fefefe;
		padding: 4px 7px;
		border-radius: 3px;
		display: inline-block;
		
		&:hover {
			background: #999;
			color: #fff;
		}
	}
	
	strong {
		font-weight: bold;
	}
	
	.align_right {
		text-align: right;
		
		a {
			text-align: right;
		}
	}
	
	*[readonly] {
		background: $lightest_gray;
		color: #777;
	}
	
	p {
		margin-bottom: 20px;
		color: #777;
		font-size: 13px;
		line-height: 20px;
	}
	
	.field {
		margin: 0 0 20px 0;
			
		&.is_for_checkbox {
			label {
				display: inline-block;
			}
		}

		label {
			text-transform: uppercase;
			color: #777;
			font-size: 13px;
			line-height: 20px;
			display: block;
			margin-bottom: 3px;
		}
	}
	
	.open_remetric {
		background: $lightest_gray;
		height: 20px;
		width: 7px;
		position: fixed;
		bottom: 100px;
		left: 0;
	}
	
	.align_center {
		text-align: center !important;
	}
	
	.align_left {
		text-align: left !important;
	}
	
	.align_right {
		text-align: right !important;
	}
}