.remetric {
	.modal {
		.modal_overlay {
			background: #fff;
			background: rgba(255, 255, 255, 0.9);
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 99998;
			overflow-y: auto;
			
			.modal_yield {
				background: #fff;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				border: 1px solid $lighter_gray;
				width: 100%;
				margin: 8% auto;
				padding: 20px;
				position: relative;
				
				input[type="text"], input[type="email"], input[type="password"], .button {
					width: 100%;
				}
				
				.modal_close {
					position: absolute;
					right: 14px;
					top: 16px;
					background: #eee;
					background: rgba(0, 0, 0, 0.1);
					color: #fff;
					color: rgba(255, 255, 255, 0.6);
					padding: 8px 13px 11px;
					border-radius: 20px;
					font-size: 15px;
					line-height: 15px;
					font-weight: 100;
					
					&:hover {
						background: #ddd;
						background: rgba(0, 0, 0, 0.3);
						color: #eee;
						color: rgba(255, 255, 255, 0.8);
					}
				}
				
				&.has_logo_title {
					.modal_close {
						right: 10px;
						top: 10px;
						background: #e3e3e3;
						color: #fff;
						
						&:hover {
							background: $lighter_gray;
							color: #fff;
						}
					}
				}
				
				.modal_title {
					background: #666;
					color: #eee;
					padding: 20px;
					margin: -20px -20px 20px;
					font-size: 24px;
					line-height: 24px;
					text-align: center;
					font-weight: bold;
				}
				
				.logo_title {
					padding: 60px 20px 50px;
					text-align: center;
					border-bottom: 1px solid $lighter_gray;
					margin: -20px -20px 20px;
					
					img {
						max-width: 65%;
					}
				}
				
				.modal_actions {
					background: $lightest_gray;
					border-top: 1px solid $lighter_gray;
					padding: 20px;
					margin: 20px -20px -20px;
				}
				
				.bottom_link {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					font-size: 12px;
					line-height: 12px;
					color: #aaa;
					margin-bottom: -25px;
				}
			}
		}
	}
}