.remetric {
	.remetric_tabs {
		display: block;
		width: 100%;
		border-bottom: 1px solid $lighter_gray;
		
		dc-tab[selected="selected"] {
			a {
				background: #fff;
				color: #333;
				border-bottom: 1px solid #fff;
			}
		}
		
		dc-tab:first-child a {
			margin-left: 0.6%;
		}
		
		a {
			display: block;
			margin-right: 0.5%;
			margin-bottom: -1px;
			width: 16%;
			float: left;
			padding: 10px;
			color: #777;
			background: $lightest_gray;
			border: 1px solid $lighter_gray;
			border-radius: 4px 4px 0 0;
			text-align: center;
			cursor: pointer;
		}
	}
	
	.remetric_tab_panel {
		padding: 20px 0px;
	}
}