{{#link-to 'dashboard.apps.store'}}
	&larr; &nbsp; Back to App Store
{{/link-to}}

<h1>{{name}}</h1>

<p>{{description}}</p>

<img {{bind-attr src=icon}}>

{{install-button app=. organization=session.organization}}