<ol class="store">
	{{#each app in apps}}
		{{#if app.isActive}}
			{{#unless app.isSystem}}
				<li class="app">
					{{#link-to 'dashboard.apps.store.app' app}}
						<img {{bind-attr src=app.icon}} class="icon">
				
						<span class="meta">
							<span class="name">{{app.name}}</span>
							
							{{install-button app=app organization=session.organization}}
					
							<span class="excerpt">{{app.excerpt}}</span>
						</span>
				
						<span class="clear"></span>
					{{/link-to}}
				</li>
			{{/unless}}
		{{/if}}
	{{/each}}
</ol>