<!-- <div class="newsfeed_sidebar">
	<div class="sidebar_widget">
		<h2>Most Active Users</h2>
		<div class="graph">

		</div>
	</div>

	<div class="sidebar_widget">
		<h2>Most Popular Interactions</h2>
		<div class="graph">

		</div>
	</div>
</div> -->

<div class="newsfeed">
	<h2>Latest Activity</h2>
	<ol>
		{{#if model}}
			{{#each event in model}}
				<li class="event">
					<p>{{story-teller event_id=event.id event_info=event.info event_story=event.story person_info=event.person.info person_id=event.person.id}}</p>
				</li>
			{{/each}}
		{{else}}
			<li>
				<p>You have no events recorded yet!</p>
			</li>
		{{/if}}
	</ol>
</div>