<ol class="newsfeed">
	{{#each event in model}}
		<li class="event">
			<p>{{story-teller event_info=event.info event_story=event.story person_info=event.person.info person_id=event.person.id}}</p>
		</li>
	{{/each}}
</ol>

<div class="newsfeed_sidebar">
	<div class="graph">
		Most Active Users
	</div>
	
	<div class="graph">
		Most Popular Interactions
	</div>
</div>