<div class="app_content with_sidebar">
	<ul class="app_sidebar">
		<li>{{#link-to "dashboard.account.profile"}}My Profile{{/link-to}}</li>
		<li>{{#link-to "dashboard.account.billing"}}Billing Info{{/link-to}}</li>
		<li>{{#link-to "dashboard.account.purchases"}}Purchases{{/link-to}}</li>
	</ul>

	{{outlet}}
</div>