<h3>Congratulations - you have installed {{session.currentApp.name}}.</h3>

<p>
	To set up a giveaway, visit the "Response" tab of a {{#link-to 'dashboard.apps.topbar'}}Top Bar{{/link-to}} or {{#link-to 'dashboard.apps.box'}}LeadBox{{/link-to}}.
</p>