<ol class="apps">
	{{#each app in apps}}
		<li class="app">
			{{#link-to 'dashboard.apps.app' app}}
				<img {{bind-attr src=app.icon}} class="icon">
				<span class="name">{{app.name}}</span>
				<span class="description">{{app.description}}</span>
			{{/link-to}}
		</li>
	{{/each}}
</ol>