<input type="name">
<input type="company_name">
<input type="serial_number">

<input type="password">
<input type="password">

<input type="email">

<div class="app_actions">
	<button class="button clickable">
		Save Profile
	</button>
</div>