.remetric {
	.apps {
		margin: -10px -10px 0 -10px;

		.app {
			width: 20%;
			padding: 1.5%;
			float: left;
			text-align: center;
			
			img {
				border-radius: 10px;
			}
			
			.name {
				display: block;
				font-weight: bold;
				font-size: 16px;
				line-height: 22px;
				margin-top: 10px;
				margin-bottom: 1px;
				color: #444;
			}
			
			.description {
				display: block;
				font-style: oblique;
				font-size: 11px;
				line-height: 16px;
				color: #bbb;
			}
		}
	}
}