.remetric {
	.dashboard {
		margin-top: $topbar_height;
		
		.app_content {
			padding: 20px;
			margin-bottom: $bottom_height;

			&.with_sidebar {
				margin-left: $sidebar_width;

				.app_actions {
					left: $sidebar_width;
				}
			}
			
			.app_sidebar {
				position: fixed;
				top: $topbar_height;
				bottom: 0;
				width: $sidebar_width;
				left: 0;
				border-right: 1px solid $lighter_gray;
				background: $lightest_gray;
				
				&.with_padding {
					padding: 20px;
				}
				
				.has_button {
					padding: 20px;
					border-bottom: 1px solid $lighter_gray;
					
					.button {
						display: block;
					}
				}
				
				a {
					padding: 14px 20px;
					border-bottom: 1px solid $lighter_gray;
					color: #777;
					display: block;
					
					&.active {
						background: #fff;
					}
				}
			}
			
			.app_actions {
				position: fixed;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 10px;
				text-align: right;
				border-top: 1px solid $lighter_gray;
				background: #fff;
				
				.cancel {
					font-size: 12px;
					color: #999;
					display: inline-block;
					margin-right: 20px;
				}
			}
				
			input, select, textarea {
				width: 100%;
				
				&[type="checkbox"] {
					width: auto;
				}
			}
			
			textarea {
				height: 80px;
			}
		}
	}
}