.remetric {
	.dashboard {
		.purchases {
			ul {
				margin-top: 13px;
				margin-left: 25px;
				list-style: disc;
				
				li {
					margin-bottom: 7px;
					color: #777;
					
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}