.remetric {
	.topbar {
		width: 100%;
		background: $lightest_gray;
		border-bottom: 1px solid $lighter_gray;
		
		&.app_topbar {
			border-bottom: 0 none;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
		}
	
		a {
			color: #999;
			text-decoration: none;
			display: inline-block;
		
			&.active {
				background: #e2e2e2;
				color: $maroon;
			}
		}
	
		.logo {
			padding: 14px;
		
			&.active {
				background: none;
			}
		}
		
		h1 {
			text-align: right;
			font-weight: bold;
			color: #fff;
			font-size: 28px;
			line-height: 28px;
			padding: 14px 19px;
		}
	
		.nav {
			list-style: none;
			display: inline-block;
			vertical-align: top;
			margin-left: 20px;
		
			li {
				display: inline-block;
				margin-right: 10px;
			
				a {
					padding: 19px 23px;
					font-size: 18px;
					line-height: 18px;
				}
			}
		}
		
		.back_to_apps {
			float: left;
			padding: 21px 19px;
			font-size: 15px;
			line-height: 15px;
			
			&.active {
				color: #eee;
				color: rgba(255, 255, 255, 0.6);
				background: none;
			}
		}
	
		.profile {
			float: right;
			padding: 13px 14px 11px;
		
			.avatar {
				float: left;
				background: $lighter_gray;
				width: 32px;
				height: 32px;
				border-radius: 4px;
			}
		
			.wrapper {
				float: left;
				margin-left: 10px;

				.name {
					font-weight: bold;
					font-size: 14px;
					line-height: 14px;
					display: block;
				}
		
				.company {
					color: #999;
					font-size: 12px;
					line-height: 12px;
					display: block;
					margin-top: 5px;
				}
			}
		}
	}
}